.header-search {
    display: flex;   
    border: 1px solid #BDBDBD;
    padding: 0 10px;
    border-radius: 10px;
    img {
        width: 20px;
        margin: 0 5px;
      }     
    input {
        border: none;
        font-size: 16px;
        background: none;
        outline: none;
        font-family: 'montserrat';
        ::placeholder {
            font-family: 'montserrat';
        }
    }

    @media screen and (max-width: 768px) {
        width: 150px;
        img {
            width: 15px;
        }
        input {
            font-size: 14px;
        }
    }
}